@page
@model ReadersCorner.Pages.Register.BlogModel
@{
}

<div class="container">
    <div class="item">
        <div class="layer">
            <h1>Titel</h1>
            <p>Information.</p>
            <span><i class"fa-solid
                     fa-lightbulb></i>"</span>
        </div>
        <h2>Information 2.</h2>
    </div>

    <div class="item">
        <div class="layer">
            <h1>Title.</h1>
            <p> Information.</p>
            <span><i class="fa-solid
                     fa-gears"></i></span>
        </div>
        <h2>Information 2.</h2>
    </div>

    <div class="item">
        <div class="layer">
            <h1>Title.</h1>
            <p>Information.</p>
            <span><i class="fa-solid
                     fa-arrow-up-right-dots"></i>"</span>
        </div>
        <h2>Information2.</h2>
    </div>
</div>
