@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<html lang="en"

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Stylesheet.css">
    <title>Image Carousel</title>
</head>

<body>
    <div class="slider">
        <div class="slides">

            <!--buttons-->
            <input type="radio" name="radio-btn" id="radio1">
            <input type="radio" name="radio-btn" id="radio2">
            <input type="radio" name="radio-btn" id="radio3">
            <input type="radio" name="radio-btn" id="radio4">

            <!--Slide images-->
            <div class="slide first">
                <img src="./img/Slide1jpeg" alt="imagem 01" />
            </div>
            <div class="slide first">
                <img src="./img/Slide2.jpeg" alt="imagem 02" />
            </div>
            <div class="Slide first">
                <img src="./img/Slide3.jpeg" alt="imagem 01" />
            </div>
            <div class="Slide first">
                <img src="./img/Slide4.jpeg" alt="imagem 02" />
            </div>
         </div>

            <!--manual-navigation-->
        <div class="manual-navigation">
            <label for="radio1" class="manual-btn"></label>
            <labe2 for="radio2" class="manual-btn"></labe2>
            <labe3 for="radio2" class="manual-btn"></labe3>
            <labe4 for="radio2" class="manual-btn"></labe4>
        </div>
    </div>
  <script src="site.js"></script>
</body>
</html>